body{
    margin : 0px; 
    overflow: hidden; 
    font-family: Monospace;
}

.qrscanner video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: auto;
    width: auto;
}

@media screen and (max-width: 640px) {
    div.container {
        width: 96%;
        max-width: 960px;
    }

    img {
        width: 56%;
        height: 28%;
        margin-left: 20%;
        margin-top: 10%;
    }
}

/* Tablets */
@media screen and (min-width: 640px) and (max-width: 1280px) {
    div.container {
        width: 96%;
        max-width: 960px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 50%;
        max-height: 70%;
        margin-left: 25%;
        margin-top: 7%;
    }
}

/* Computadora */
@media screen and (min-width: 1280px) {
    div.container {
        width: 96%;
        max-width: 960px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 30%;
        max-height: 50%;
        margin-left: 5%;
        margin-top: 5%;
    }
}